[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/doomemacs/doomemacs
[submodule ".spacemacs.d"]
	path = .spacemacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2
[submodule ".stemacs.d"]
	path = .stemacs.d
	url = https://github.com/StefanoND/stemacs
